﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", required: false)
}
<div class="row">
    <div class="col-md-3">
        <h3>Menu</h3>
        <div class="list-group">
            <a href="/Administration/Categories" class="list-group-item">Categories</a>
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}